*.nii
*.txt

!AICHA (Joliot 2015).nii
!AICHA (Joliot 2015).txt
!Automated Anatomical Labeling (Tzourio-Mazoyer 2002).nii
!Automated Anatomical Labeling (Tzourio-Mazoyer 2002).txt
!Automated Anatomical Labeling 2 (Rolls 2015).nii
!Automated Anatomical Labeling 2 (Rolls 2015).txt
!Automated Anatomical Labeling 3 (Rolls 2020).nii
!Automated Anatomical Labeling 3 (Rolls 2020).txt
!Random Parcellation sc05 mean all l43 (Craddock 2011).nii
!Random Parcellation sc05 mean all l43 (Craddock 2011).txt
!Random Parcellation tc05 mean all l43 (Craddock 2011).nii
!Random Parcellation tc05 mean all l43 (Craddock 2011).txt
!Voxelwise Parcellation t04 35k (Lead-DBS).nii
!Voxelwise Parcellation t04 35k (Lead-DBS).txt
!Voxelwise Parcellation t05 15k (Lead-DBS).nii
!Voxelwise Parcellation t05 15k (Lead-DBS).txt
!Voxelwise Parcellation t05 8k (Lead-DBS).nii
!Voxelwise Parcellation t05 8k (Lead-DBS).txt

