/Acquiring and Setting Atlases.html
/Creating the 3D Scene.html
/Formatting the Image File Names.html
/Installation.html
/Lead-DBS Main Window and Loading Images.html
/Normalization of Images.html
/Reconstruction of Electrode Trajectory.html
/Setting a Path for _Lead-DBS_ in MATLAB.html
/automatic_reconstruction.md
/checking_the_coregistration.md
/index.html
/manifest.appcache
/manual_reconstruction.md
